{% extends 'index.html' %}

{%block content%}
{% if messages %}
{%for msg in messages%}
<div class="alert alert-{{msg.tags}} alert-dismissible fade show" role="alert">
  <strong>
    {% if 'safe' in msg%}
       {{msg|safe}}
  {% else %}
     {{msg}}
  {%endif%}
  </strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{%endfor%}
{%endif%}
<div style="margin-left: 37%" id="searching">
<input type="text" placeholder="Search notes by title.." id="search" style="padding: 3px;box-shadow:5px 23px 23px 7px rgb(34, 40, 51)">
</div>
{% if objs %}
{%for obj in objs%}
<div class="main" style="margin-top:5px;text-align:center;padding:3.5%;display:inline-block">
<div class="card search" style="width: 28rem;">
    <div class="card-body">
      <h5 class="card-title titles">{{obj.title}}</h5>
      <p class="card-text">{{obj.description}}</p>
      <div>
        <h6>{{obj.created_at|date:"M d, Y" }}</h6>    
      </div>
      <a href="{% url 'update' obj.id %}" class="card-link">Update</a>
      <a href="{% url 'download' obj.id %}" class="card-link">Download</a>
      <a href="{% url 'delete' obj.id %}" class="card-link">Delete</a>
    </div>
  </div>
</div>
{%endfor%}
{%else%}
<div style="color:aliceblue;text-align: center;     position: absolute;     top: 45%;     bottom: 50%;  left:24%;   width: 50%;">
<h1 >No notes you have created still!</h1>
<h3><a href="{% url 'create' %}" style="text-decoration:none">create</a></h3>
</div>
{%endif%}
{%endblock%}
